.form {
  // display: inline-block;
  position: absolute;
  top: 3vw;
  left: 3vw;
  width: 45vw;
  // border: 1px solid black;
  margin: 0.3vw;

  padding: 2vw;
  border-radius: 2vw;
  background-color: white;

  div {
    margin: 2vw;
  }

  p {
    font-size: 2.4vw;
    margin-bottom: 1vw;
  }

  input {
    padding: 0.8vw;
    font-size: 2.2vw;
    border-radius: 1vw;
    border: 0px;
    background-color: #5be827;
    color: white;
  }

  button {
    margin: 1.5vw;
    padding: 0.8vw;
    font-size: 2.2vw;
    border-radius: 1vw;
    border: 0px;
    background-color: #5be827;
    color: white;
  }
}